
@{
    ViewBag.Title = "DeliveryPolicy";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="/Home/index"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Chính Sách Vận Chuyển</a></li>
    </ul>

    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left"> 
            <div class="module blog-category titleLine">
                <div class="modcontent">
                    <ul class="list-group ">
                        <li class="list-group-item"> <a href="/Home/DeliveryPolicy" class="group-item">Chính Sách Vận Chuyển</a></li>
                        <li class="list-group-item"> <a href="/Home/ReturnPolicy" class="group-item">Chính Sách Đổi Trả</a></li>
                        <li class="list-group-item"> <a href="/Home/WarrantyPolicy" class="group-item">Chính Sách Bảo Hành</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <!--Left Part End -->
        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <div class="article-info">
                <div class="blog-header">
                    <h3>CHÍNH SÁCH GIAO HÀNG TẠI LINH KIỆN LỌC NƯỚC SD</h3>
                </div>

                <div class="article-description">
                    <h3 style="color:red">I. THÀNH PHỐ HÀ NỘI</h3>
                    <p>Giao Hàng Miễn Phí Các Đơn Hàng Mua Quạt Trong Nội Thành Hà Nội : </p>
                    <p>Các Km Tiếp Theo 10.000 VNĐ/ 1km Giao Hàng Nội Bộ Tối Đa 30Km</p>
                    <p> Các Đơn Hàng Sẽ Giao Trong Vòng Tối Đa 48H ( Kể Từ Lúc Xác Nhận )</p>
                </div>

                <div class="article-description">
                    <h3 style="color:red">II. CÁC TỈNH KHÁC :</h3>
                    <h4 style="color:#008000">1 Khi Thanh Toán Trước :</h4>
                    <p>Miễn Phí vận chuyển bằng nhà xe với các đơn hàng</p>
                    <p>Hỗ trợ 50% Phí vận Chuyển Khi khách hàng Muốn Gửi Bưu Điện Về Tận Nhà.</p>
                    <p>Thanh Toán Qua:</p>
                    <p>Tài Khoản : 0780106046005</p>
                    <p>Tên Tài Khoản : Đỗ Văn Quyền.</p>
                    <p>Ngân Hàng : Ngân Hàng MBB – Chi Nhánh Nam Thăng Long.</p>
                    <h4 style="color:#008000">2 Khi Khách Hàng Thanh Toán Khi Nhận Hàng</h4>
                    <p>Để hạn chế tình trạng đặt hàng chơi không nhận hàng. Quý Khách vui lòng cọc 300K Qua tài khoản Ngân Hàng để chúng tôi xác nhận.</p>
                    <p>Nhận Cọc Qua:</p>
                    <p>Tài Khoản : 0780106046005</p>
                    <p>Tên Tài Khoản : Đỗ Văn Quyền.</p>
                    <p>Ngân Hàng : Ngân Hàng MBB – Chi Nhánh Nam Thăng Long.</p>
                    <p>Xin Lưu Ý : Chi Phí Gửi Hàng COD ( Kiểm tra Hàng Thanh Toán ) thì Quý Khách sẽ thanh toán cho phía bên Giao Hàng. Bên Công Ty chỉ thu giá trị hàng quý khách đã đặt mua.</p>
                </div>
                <div class="article-description">
                    <h3 style="color:red">III. KHÁCH HÀNG DOANH NGHIỆP :</h3>
                    <p>Đối Với Các Dự án , Doanh Nghiệp ,Công Ty mua Số lượng Lớn : Miễn Phí Chi Phí Vận Chuyển Trong 300Km.</p>
                    <p>Quý Khách Cọc 50% Giá Trị Hợp Đồng Trước Khi Tiến Hành Dự Án.</p>
                </div>
            </div>

        </div>


    </div>
    <!--Middle Part End-->
</div>

