
@{
    ViewBag.Title = "ReturnPolicy";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="/Home/DeliveryPolicy"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Chính Sách Đổi Trả</a></li>
    </ul>

    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left"> 
            <div class="module blog-category titleLine">
                <div class="modcontent">
                    <ul class="list-group ">
                        <li class="list-group-item"> <a href="/Home/DeliveryPolicy" class="group-item">Chính Sách Vận Chuyển</a></li>
                        <li class="list-group-item"> <a href="/Home/ReturnPolicy" class="group-item">Chính Sách Đổi Trả</a></li>
                        <li class="list-group-item"> <a href="/Home/WarrantyPolicy" class="group-item">Chính Sách Bảo Hành</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <!--Left Part End -->
        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <div class="article-info">
                <div class="blog-header">
                    <h3>CHÍNH SÁCH ĐỔI TRẢ HÀNG TẠI LINH KIỆN LỌC NƯỚC SD</h3>
                </div>

                <div class="article-description">
                    <h3 style="color:red">I THỜI GIAN NHẬN ĐỔI SẢN PHẨM:</h3>
                    <p>Tất cả những ngày trong tuần: từ 8h AM đến 18h PM.</p>
                    <p>Thời gian sử lý sẽ được nhân viên thông báo trực tiếp quý khách.</p>
                    <p>Trong trường hợp khách hàng ở xa trung tâm sẽ hỗ trợ chuyển phát về tận nhà.</p>
                    <p>Khi quá thời gian từ lúc nhận đổi trả chúng tôi sẽ thông báo lý do chính đáng đến khách hàng.</p>
                    <p>Xin quý khách giữ biên nhận đổi trả cẩn thận, trường hợp bị mất khách hàng có thể xuất hóa đơn mua hàng hoặc giấy tờ tùy thân để xác nhận với trung tâm.</p>
                </div>

                <div class="article-description">
                    <h3 style="color:red">II LINH KIỆN VÀ SẢN PHẨM ĐỔI PHẢI ĐÁP ỨNG CÁC ĐIỀU KIỆN :</h3>
                    <p>Hàng mới không hỗ trợ đổi trả .</p>
                    <p>Xin quý khách giữ biên nhận đổi trả cẩn thận, trường hợp bị mất khách hàng có thể xuất hóa đơn mua hàng hoặc giấy tờ tùy thân để xác nhận với trung tâm.</p>
                    <p>Thời hạn được đổi sản phẩm trong vòng 03 ngày kể từ thời điểm khách nhận hàng (căn cứ dựa trên thời gian trong hóa đơn).</p>
                    <p>Sản phẩm và phụ kiện đi kèm phải còn nguyên vẹn( còn nguyên tem, phiếu bảo hành, số series, vỏ hộp, nguyên hình dạng không bị trầy xước, biến dạng, cháy nổ) và đầy đủ như lúc ban đầu giao nhận( đầy đủ phụ kiện và tặng phẩm đi kèm ).</p>
                    <p>Trường hợp phụ kiện đi kèm theo máy bị lỗi kỹ thuật, trung tâm chỉ hỗ trợ đổi phụ kiện.</p>
                    <p>Sản phẩm bị lỗi nguyên nhân do Nhà sản xuất, đã được trung tâm khắc phục nhưng lỗi lại tái diễn.</p>
                </div>
                <div class="article-description">
                    <h3 style="color:red">III HÀNG KHÔNG CÓ LỖI HOẶC LỖI DO NHÀ SẢN XUẤT :</h3>
                    <p>Hoàn Trả Giá Trị Tiền Hàng Quý Khách Đã Mua Sau khi Khấu Trừ Các Chi Phí Dịch vụ Như Giao Hàng – Và Chi Phí Lắp Ráp trong 3 ngày Đầu Tiên tính từ lúc Quý Khách Mua Hàng. Hoặc đổi sang sản phẩm khác sẽ bù trừ theo giá trị hiện tại của sản phẩm ( Sản Phẩm gửi Trả Đổi – Phải đầy đủ các phụ kiện bạn đầu khi bên Điện Máy 365 Cung Cấp Cho Bạn )</p>
                    <p>
                        Trong Vòng 30 Ngày đầu tiên nếu quý khách trả hàng Sẽ khấu trừ 20% Giá Trị Hàng Trên Hóa Đơn. Các tháng Kế Tiếp sẽ là 5% Mỗi Tháng . Sau Tháng Thứ 5 ( 40%) Kể từ Lúc mua sẽ tính giá thu theo giá thị trường- ( Với Hàng Bị Lỗi Của Khách Còn Trong Thời Gian Bảo Hành Vẫn Hộ Trợ Thu Theo Quy Định Thu Hàng ).
                    </p>
                    <p> Không áp dụng đổi mới với các sản phẩm máy lọc nước .</p>
                </div>
            </div>

        </div>


    </div>
    <!--Middle Part End-->
</div>

