
@{
    ViewBag.Title = "WarrantyPolicy";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="/Home/index"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Chính Sách Bảo Hành</a></li>
    </ul>

    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module blog-category titleLine"> 
                <div class="modcontent">
                    <ul class="list-group ">
                        <li class="list-group-item"> <a href="/Home/DeliveryPolicy" class="group-item">Chính Sách Vận Chuyển</a></li>
                        <li class="list-group-item"> <a href="/Home/ReturnPolicy" class="group-item">Chính Sách Đổi Trả</a></li>
                        <li class="list-group-item"> <a href="/Home/WarrantyPolicy" class="group-item">Chính Sách Bảo Hành</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <!--Left Part End -->
        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <div class="article-info">
                <div class="blog-header">
                    <h3>CHÍNH SÁCH BẢO HÀNH TẠI LINH KIỆN LỌC NƯỚC SD</h3>
                </div>
                <div class="article-description">
                    <p>Đổi mới sản Phẩm trong 30 ngày đầu tiên ( Trường Hợp Lỗi Do Nhà Sản Xuất )</p>
                    <p>Bảo Hành Tận nhà miễn Phí Trong 7 Ngày Đầu Tiên Sử Dụng</p>
                    <p>Nếu sản phẩm cần bảo hành Hết Hàng – Sẽ Đổi Sang Model khác giá trị tương đương sản phẩm của quý khách Hoặc Hỗ Trợ thu hàng theo giá đầu vào thị trường.</p>
                    <p>Hỗ Trợ 1 chiều chi phí vận chuyển Hàng Bảo Hành Đối Với Khách Hàng Ở Tỉnh ( Trường Hợp Lỗi Do Nhà Sản Xuất ).</p>
                    <p>Chúng Tôi Cam Kết Trả Hàng Cho Quý Khách Trong Vòng Tối Đa 7 Ngày Và Nhanh Nhất Trong Vòng 3 Ngày. ( Trong trường hợp Khách Hàng yêu cầu Gấp yêu cầu xử lý ngay lập tức không theo quy trình – nếu phát sinh lỗi chúng tôi sẽ không chịu trách nhiệm vấn đề khiếu nại )</p>
                    <h3 style="color:red">Quy Định Về Sản Phẩm Được Bảo Hành Miễn Phí</h3>
                    <p>Sản phẩm hội đủ các điều kiện sau đây được chúng tôi nhận bảo hành miễn phí cho khách hàng:</p>
                    <p>Sản phẩm phải có phiếu bảo hành của LINHKIENLOCNUOCSD và phiếu BH phải còn trong thời hạn bảo hành</p>
                    <p>Sản phẩm bị hỏng do lỗi kỹ thuật của nhà sản xuất.</p>
                    <p>Sản phẩm chưa can thiệp vào phần cứng (không tự ý tháo dỡ, sửa chữa...).</p>
                </div>
                <div class="article-description">
                    <h3 style="color:red">Quy Định Sản Phẩm Không Được Bảo Hành</h3>
                    <p>Tất cả các thông tin liên quan đến việc giao, nhận hàng, các chi phí phát sinh (nếu có) đều được bộ phận chăm sóc khách hàng giải đáp đầy đủ trước khi sản phẩm được giao."</p>
                    <p>Bộ phận chăm sóc khách hàng có nhiệm vụ cung cấp các thông tin về các ưu đãi dành cho khách hàng mua hàng với số lượng lớn cung như thông tin về tình trạng sản phẩm trước khi giao sản phẩm đến tay khách hàng</p>
                    <p>Quý khách hàng có trách nhiệm kiểm tra tình trạng sản phẩm khi nhận hàng và thông báo ngay cho nhân viên giao hang nếu sản phẩm có dấu hiệu hư hỏng, bể, vỡ, móp méo, sai thông tin hoặc giao sai sản phẩm..."</p>
                    <p>Sau khi quý khách nhận hàng, chúng tôi không có trách nhiệm với những hư hỏng, bể, vỡ, móp méo, sai hàng hóa... từ quý khách."</p>
                    <p>Những sản phẩm sau không được chúng tôi bảo hành miễn phí. Trong điều kiện bảo hành, quý khách hàng có thể phải trả thêm các chi phí phát sinh nếu có."</p>
                    <p>Sản phẩm đã hết thời gian bảo hành, tính từ ngày mua hàng ghi trên phiếu mua hàng – bảo hành</p>
                    <p>Khách hàng sử dụng sản phẩm không đúng theo sự hướng dẫn, sử dụng không đúng điện áp ghi trên sản phẩm.</p>
                    <p>Sản phẩm do va chạm hoặc đã bị rơi rớt, bể mẻ, móp méo, biến dạng, trầy xước, gỉ sét, hao mòn trong quá trình sử dụng, sản phẩm có dấu hiệu cháy nổ, chuột bọ, côn trùng xâm nhập."</p>
                    <p>Sản phẩm có dấu hiệu ẩm ướt do bị thấm nước hoặc dung dịch lạ.</p>
                    <p>Sản phẩm có dấu hiệu bị sửa chữa trước khi mang đến công ty.</p>

                </div>
            </div>

        </div>


    </div>
    <!--Middle Part End-->
</div>

