
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title mb-0">Phần Mềm Quản Lý Website LinhKienMTA</h4>
                            </div>
                            <div class="col-md-4">

                            </div> 
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <span class="peity-pie" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"]}' data-width="54" data-height="54">5/8</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.Order</h5>
                                <h6 class="mt-0 mb-3">Chưa Xử Lý</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <span class="peity-donut" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"], "innerRadius": 18, "radius": 32 }' data-width="54" data-height="54">2/5</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.Order2</h5>
                                <h6 class="mt-0 mb-3">Trong Ngày</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <span class="peity-pie" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"]}' data-width="54" data-height="54">3/8</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.Customers</h5>
                                <h6 class="mt-0 mb-3">Khách Hàng</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <span class="peity-donut" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"], "innerRadius": 18, "radius": 32 }' data-width="54" data-height="54">3/5</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.Products</h5>
                                <h6 class="mt-0 mb-3">Sản Phẩm</h6>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>
        <!-- end row -->
        <!-- end row -->

    </div>
    <!-- container-fluid -->

</div>
<!-- content -->


