
@{
    ViewBag.Title = "ChangedPassword";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Đổi Mật Khẩu</a></li> 

    </ul>
    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module blog-category titleLine">
                <h3 class="modtitle">Danh Mục</h3>
                <div class="modcontent">
                    <ul class="list-group ">
                        <li class="list-group-item"> <a href="/Account/MyAccount" class="group-item">Thông Tin Tài Khoản</a></li>
                        <li class="list-group-item"><a href="/Order/OrderHistory" class="group-item">Lịch Sử Mua Hàng</a></li>
                        <li class="list-group-item"><a href="/Account/MyComment" class="group-item">Đánh Giá Của Tôi</a></li>
                        <li class="list-group-item"><a href="/Account/ChangedPassword" class="group-item">Đổi Mật Khẩu</a></li>
                        <li class="list-group-item"><a href="/Account/Logout" class="group-item">Đăng Xuất</a></li>
                    </ul>

                </div>
            </div>
        </aside>
        <!--Left Part End -->
        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <form action="/changedPassword" method="post" enctype="multipart/form-data">
                <div class="row col-sm-offset-2 col-md-6">
                    <fieldset>
                        <legend>Đổi Mật Khẩu</legend>
                        <div class="form-group required">
                            <label for="input-password" class="control-label">Mật Khẩu Cũ</label>
                            <input type="password" class="form-control" id="input-password" placeholder="Old Password" value="" name="old_password">
                        </div>
                        <div class="form-group required">
                            <label for="input-password" class="control-label">Mật Khẩu Mới</label>
                            <input type="password" class="form-control" id="input-password" placeholder="New Password" value="" name="new_password">
                        </div>
                        <div class="form-group required">
                            <label for="input-confirm" class="control-label">Nhập Lại Mật Khẩu</label>
                            <input type="password" class="form-control" id="input-confirm" placeholder="New Password Confirm" value="" name="new_confirm">
                        </div>
                    </fieldset>
                </div>
                <div class="buttons clearfix col-sm-offset-2 col-md-6">
                    <div class="col-sm-offset-5">
                        <input type="submit" class="btn btn-md btn-primary" value="Lưu Lại">
                    </div>
                </div>
            </form>

        </div>


    </div>
    <!--Middle Part End-->
</div>


