
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Tài Khoản</a></li> 
            <li><a href="#">Đăng Nhập</a></li>
        </ul>

        <div class="row">
            <div id="content" class="col-sm-12">
                <div class="page-login">
                  
                    <div class="account-border">
                        <div class="row">
                            <div class="col-sm-3 ">

                            </div>

                            <form action="/confirmLogin" method="post" enctype="multipart/form-data">
                                <div class="col-sm-6 customer-login">
                                    <div class="well">
                                        <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> Đăng Nhập</h2>
                                        @if (TempData["Error"] != null)//kiểm tra thông báo để hiển thị
                                        {
                                            <div id="alert" class="alert alert-danger">
                                                <i class="fa fa-exclamation-circle"></i>Thất bại : @TempData["Error"]
                                            </div>
                                        }
                                        <div class="form-group">
                                            <label class="control-label " for="input-email">E-Mail</label>
                                            <input type="text" name="email" value="" id="input-email" class="form-control" required />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label " for="input-password">Mật Khẩu</label>
                                            <input type="password" name="password" value="" id="input-password" class="form-control" required />
                                        </div>
                                        <div class="form-group">
                                            <a href="/Account/ForgotPassword" class="forgot col-sm-3">Quên Mật Khẩu</a>

                                            <input type="submit" value="Đăng Nhập" class="btn btn-default pull-right col-sm-3" />
                                        </div>
                                        <div class="form-group">
                                           <br>
                                            
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>

        function remove() {
            var alert = document.getElementById("alert");
            alert.remove();
        }
        window.onload = function () {
            document.onclick = function () {
                remove();
            };
        }
    </script>
